{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <div>
        {% if book.available %}
            <div class="alert alert-success" role="alert">Dostępna</div>
        {% else %}
            <div class="alert alert-danger" role="alert">Wypożyczona</div>
        {% endif %}
    </div>
    <div>Autor: {{ book.author }}</div>
    <div>Rok wydania: {{ book.publication_year }}</div>
    <div>Opis:</div>
    <div>{{ book.description }}</div>
    {% if book.available %}
        {% crispy form %}
    {% endif %}
{% endblock %}