{% extends 'base.html' %}
{% block title %}Lista książek{% endblock %}
{% block content %}
    <h1>Lista książek</h1>

    <table class="table table-condensed">
        <thead>
        <td>Tytuł</td>
        <td>Stan</td>
        </thead>

        {% for book in books_list %}
            <tr>
                <td><a href="{% url 'books:details' book.id %}">{{ book.title }}</a></td>
                <td>{% if book.available == True %}Dostępna{% else %}Wypożyczona{% endif %}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}